@import url("https://fonts.google.com/specimen/Playfair+Display?preview.text=Perform%20Japanese&stroke=Serif&vfonly=true&subset=latin&noto.script=Latn");

:root {
  --main-bg-color: #013120;
  --second-bg-color: #5c605e5f;
  --navbar-bg-color: #94c6b0;
  --navbar-color-text: #013120;
  --navbar-hover-color: #bddbce;
  --title-color: #fffaee;
  --title-second: #d889139f;
}

* {
font-family: "Playfair Display", serif;

}
.completed-todo {
  text-decoration: line-through;
}
.tab-list {
  margin-bottom: 40px;
}
.tab-list > span {
  padding: 8px;
  border: 1px solid rgb(255, 250, 250);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: rgb(5, 5, 128);
  color: #fff;
}
/*! -----------ELEMENTS------------ */

.taskZone {
  margin-bottom: 50px;
}

.content {
  margin-bottom: 10%;
}

.penaltyGroup {
  margin-top: 20px;
}

.outer-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.inner-flex-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

/*! -----------TEXT------------ */

.title {
  color: white;
  /* padding-top: 40vh; */
  font-size: clamp(25px, 4vw, 50px);
  font-family: "Playfair Display", serif;
  font-weight: 800;
  text-align: center;
  justify-content: center;
}
.center {
  text-align: center;
  justify-content: center;

}

.right {
  text-align: right;
  justify-content: right;

}

.points-text {
  color: white;
  /* padding-top: 40vh; */
  font-size: clamp(15px, 2vw, 30px);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  
}

li {
  list-style-type: none;
}

.ppoints-li{
  margin: 20px;

}

/*! -----------HEADER------------ */

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
}

nav ul:last-child {
  margin-left: 40px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  margin: 6px 40px 6px 40px;

  font-size: clamp(14px, 1.8vw, 30px);
  text-decoration: none;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  transform-origin: top right; /* Origin set to left for the initial state */
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: top left; /* Change origin to right on hover */
}




/*!----------- BUTTTONNNN */

button.btn-info {
  background-color: rgb(39, 135, 194);
  color: #fff;
}
.btn-spacing {
  margin-right: 10px;
  color: #fff;
}

li.basic {
  background-color: #031523;
  color: white;
}
li.habits {
  background-color: #09477747;
  color: white;
}

li.once {
  background-color: #31227342;
  color: white;
}

li.daily {
  background-color: rgba(76, 11, 80, 0.336);
}
li.prohibited {
  background-color: rgba(103, 11, 11, 0.367);
}

.button-group {
  display: flex; /* This ensures buttons are lined up horizontally */
  align-items: center; /* Aligns buttons horizontally */
}

/*!----------- GRID-------------- */

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  padding: 12px 10px 12px 11px;
  gap: 10px;
  border-radius: 12px;
  transition: transform 0.5s ease;
  margin-bottom: 5%;
  border: 0.5px solid rgba(223, 210, 210, 0.421);
}

.task-grid:hover {
  transform: scale(1.03);
}

.task-grid.penalty {
  grid-template-columns: auto min-content 1fr 1fr auto;
}

.task-grid.no-penalty {
  grid-template-columns: min-content 3fr 2fr 1fr;
}

/*!----------- TASK-------------- */

.star-icon {
  width: 2vw;
  height: auto;
  max-width: 30px;
  min-width: 15px;
}

.exclamation-icon {
  width: 2.5vw;
  height: auto;
  max-width: 50px;
  min-width: 15px;
}

.difficulty-importance-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.3vw + 0.9rem);
  justify-content: center;
  color: rgb(255, 0, 0);
}

.difficulty-stars {
  display: flex; /* Enables flexbox */
  align-items: center; /* Vertically centers the stars in the container */
  justify-content: center; /* Horizontally centers the stars in the container */
}

.task-title {
  font-family: "Playfair Display", serif;
  font-weight: 300; /* Makes the title bold */
  font-size: calc(0.5vw + 1rem);
}

.days-left {
  font-family: "Playfair Display", serif;
  font-size: calc(0.5vw + 0.8rem);
  font-weight: 500;
}

/*! -----------SCROLL------------ */

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto; /* Allows scrolling */
  height: 100vh;
}

/* Making scrollbar transparent */
.scroll-container::-webkit-scrollbar {
  width: 0.1em;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.scroll-section-title {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 40vh;
}

.scroll-section-tasks {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 10vh;
}
